<div class="container" *ngIf="contacts">
  <h3>Contacts</h3>
  <hr />
  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-12 pull-right">
      <input type="text" class="form-control col-md-3 pull-right" [(ngModel)]=filterKey (keyup)="filter()" placeholder="Search…">
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th width="col-md-2">
          <a role="button" (click)="sortDataBy('firstName');">
            First Name
            <span [hidden]="sortBy != 'firstName'" class="fa" [ngClass]="{'fa-caret-up':sortBy == 'firstName' && sortAsc,'fa-caret-down': sortBy == 'firstName' && !sortAsc}"></span>
          </a>
        </th>
        <th width="col-md-2">
          <a role="button" (click)="sortDataBy('lastName');">
            Last Name
            <span [hidden]="sortBy != 'lastName'" class="fa" [ngClass]="{'fa-caret-up':sortBy == 'lastName' && sortAsc,'fa-caret-down': sortBy == 'lastName' && !sortAsc}"></span>
          </a>
        </th>
        <th width="col-md-4">
          <a role="button" (click)="sortDataBy('email');">
            Email
            <span [hidden]="sortBy != 'email'" class="fa" [ngClass]="{'fa-caret-up':sortBy == 'email' && sortAsc,'fa-caret-down': sortBy == 'email' && !sortAsc}"></span>
          </a>
        </th>
        <th width="col-md-2">
          <a role="button" (click)="sortDataBy('phoneNumber');">
            Phone Number
            <span [hidden]="sortBy != 'phoneNumber'" class="fa" [ngClass]="{'fa-caret-up':sortBy == 'phoneNumber' && sortAsc,'fa-caret-down': sortBy == 'phoneNumber' && !sortAsc}"></span>
          </a>
        </th>
        <th width="col-md-2">
          <div class="text-center">
            <a class="btn btn-primary btn-sm" routerLink="/contact/add" style="margin-top:5px;">
              <i class="fa fa-plus"></i> Add New
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!pagedData || pagedData.length <= 0; else elseBlock">
        <td colspan="5">No Contacts Available.</td>
      </tr>
      <ng-template #elseBlock>
        <tr *ngFor="let contact of pagedData">
          <td>{{contact.firstName}}</td>
          <td>{{contact.lastName}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phoneNumber}}</td>
          <td>
            <div class="text-center">
              <a class="text-warning" routerLink="/contact/edit" [queryParams]="{id:contact.id}">
                <i class="fa fa-pencil"></i>
              </a><span class="action-buttons-separator">|</span>
              <a class="text-danger" role="button" (click)="deleteContact(contact.id)" style="cursor:pointer;">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
    <tfoot *ngIf="contacts && contacts.length > 0;">
      <tr>
        <td colspan="5">
          <div class="row pull-right">
            <span class="pagination-status">Showing {{pager.startIndex + 1}} - {{pager.endIndex + 1}} of {{pager.totalItems}} Results</span>
            <ngb-pagination class="pagination-result" [collectionSize]="contacts.length" [(page)]="pager.currentPage" [pageSize]="pageSize"
                            [maxSize]="5" [boundaryLinks]="true" size="sm" (pageChange)="setPage($event)"></ngb-pagination>

          </div>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
